@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 216 100% 1%;
    --white: 0 0% 100%;
    --black-foreground: var(--white);
    --white-foreground: var(--black);

    --green: 159 100% 70%;
    --green-foreground: var(--black);

    --lime: 87 100% 77%;
    --lime-foreground: var(--black);

    --orange: 42 99% 71%;
    --orange-foreground: var(--black);

    --blue: 204 58% 74%;
    --blue-foreground: var(--black);

    --red: -28 100% 72%;
    --red-foreground: var(--black);
  }
}

@layer base {
  body {
    @apply bg-green text-green-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

pre {
  padding: 0 !important;
  font-size: 1em !important;
}
